In [1]:
import os 
import matplotlib.pyplot as plt
root = ""
chapter_id = "Multiple_input"
images_path = os.path.join(root,"images",chapter_id)
os.makedirs(images_path,exist_ok=True)
def save_fig(fig_id,tigh_layout=True,fig_extension='png',resolution=True):
    path = os.path.join(images_path,fig_id+'.'+fig_extension)
    print("save figure",fig_id)
    if tigh_layout:
        plt.tight_layout()
    plt.savefig(path,format=fig_extension,resolution=resolution)

In [2]:
import tensorflow as tf 
import keras
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

housing = fetch_california_housing()
print(housing["DESCR"])

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [3]:
# SPLIT DATA TRAIN FULL AND TESTING 
X_train_full,X_test,y_train_full,y_test = train_test_split(housing['data'],housing['target'],random_state=42)
#SPLIT DATA TRAIN FULL TO TRAIN AND VALIDATION
X_train,X_valid,y_train,y_valid = train_test_split(X_train_full,y_train_full,random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_valid = scaler.fit_transform(X_valid)
X_test = scaler.fit_transform(X_test)

In [4]:
print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)

(11610, 8)
(3870, 8)
(5160, 8)

In [5]:
print(y_train.shape)
print(y_valid.shape)
print(y_test.shape)

(11610,)
(3870,)
(5160,)

In [6]:
np.random.seed(42)
tf.random.set_seed(42)

In [8]:
# nonsequential model 
input_A = keras.layers.Input(shape=[5],name='wide input')
input_B = keras.layers.Input(shape=[6],name='deep input')
# untuk flow deep pattern menggunakan functional API -> Ex (input_b),(hidden1)
hidden1 = keras.layers.Dense(30,activation='relu')(input_B)
hidden2 = keras.layers.Dense(30,activation='relu')(hidden1)
# untuk flow wide pattern menggunakan concanate function by 2 or more functional API
concat = keras.layers.Concatenate()([input_B,hidden2])
# output layers is used by regresion and regresion output is not activation and one neuron pragesteron
output = keras.layers.Dense(1,name='output')(concat)
model = keras.models.Model(inputs=[input_A,input_B], outputs=[output])

In [18]:
pd.DataFrame(X_train[:])

,0,1,2,3,4,5,6,7
0,-0.193979,-1.077813,-0.943385,0.014853,0.020733,-0.572916,0.929260,-1.422155
1,0.751983,-1.868895,0.405478,-0.233277,1.861465,0.205165,-0.916547,1.096670
2,-0.414691,0.029701,0.818088,1.056784,-0.087867,-0.299833,1.308729,-1.697027
3,1.718896,-1.315138,0.326644,-0.219551,-0.337922,-0.111466,-0.982134,0.941742
4,-0.962072,-1.236030,-0.056258,-0.031244,1.709059,-0.302570,-0.804112,1.326562
...,...,...,...,...,...,...,...,...
11605,-0.814058,0.108810,-0.817233,-0.195044,-0.533220,0.320976,-0.635460,0.566917
11606,0.107864,1.690973,-0.261893,-0.135849,-0.231147,-0.191147,0.990163,-1.447144
11607,-1.223323,0.504350,-0.516003,0.258887,0.452397,0.134491,-0.719786,1.146646
11608,-0.935570,1.849189,-0.108785,-0.061589,-0.057751,-0.013545,0.521684,-0.102771
11609,0.895860,0.187918,0.299475,-0.156707,-0.171827,-0.178234,1.121337,-1.307209

In [19]:
model.compile(loss= 'mse', optimizer=keras.optimizers.SGD(learning_rate=1e-3))

X_train_A,X_train_B = X_train[:,:5],X_train[:,2:] # 5, 6
X_valid_A, X_valid_B = X_valid[:,:5], X_valid[:,2:] # 5, 6
X_test_A,X_test_B = X_test[:,:5], X_test[:,2:] # 5, 6

history = model.fit([X_train_A,X_train_B],y_train,
                    epochs=20, validation_data=[[X_valid_A,X_valid_B],y_valid])

Epoch 1/20
363/363 [==============================] - 2s 1ms/step - loss: 2.3481 - val_loss: 1.2978
Epoch 2/20
363/363 [==============================] - 0s 948us/step - loss: 1.1960 - val_loss: 1.1392
Epoch 3/20
363/363 [==============================] - 0s 954us/step - loss: 1.0720 - val_loss: 1.0409
Epoch 4/20
363/363 [==============================] - 0s 946us/step - loss: 0.9791 - val_loss: 0.9649
Epoch 5/20
363/363 [==============================] - 0s 934us/step - loss: 0.9009 - val_loss: 0.8946
Epoch 6/20
363/363 [==============================] - 0s 1ms/step - loss: 0.8360 - val_loss: 0.8526
Epoch 7/20
363/363 [==============================] - 0s 937us/step - loss: 0.7826 - val_loss: 0.8018
Epoch 8/20
363/363 [==============================] - 0s 935us/step - loss: 0.7410 - val_loss: 0.7735
Epoch 9/20
363/363 [==============================] - 0s 978us/step - loss: 0.7038 - val_loss: 0.7572
Epoch 10/20
363/363 [==============================] - 0s 943us/step - loss: 0.6792 - val_loss: 0.7359
Epoch 11/20
363/363 [==============================] - 0s 963us/step - loss: 0.6566 - val_loss: 0.7222
Epoch 12/20
363/363 [==============================] - 0s 1ms/step - loss: 0.6422 - val_loss: 0.7128
Epoch 13/20
363/363 [==============================] - 0s 958us/step - loss: 0.6309 - val_loss: 0.7053
Epoch 14/20
363/363 [==============================] - 0s 935us/step - loss: 0.6200 - val_loss: 0.6987
Epoch 15/20
363/363 [==============================] - 0s 948us/step - loss: 0.6112 - val_loss: 0.6948
Epoch 16/20
363/363 [==============================] - 0s 941us/step - loss: 0.6042 - val_loss: 0.6878
Epoch 17/20
363/363 [==============================] - 0s 930us/step - loss: 0.5968 - val_loss: 0.6869
Epoch 18/20
363/363 [==============================] - 0s 938us/step - loss: 0.5904 - val_loss: 0.6809
Epoch 19/20
363/363 [==============================] - 0s 936us/step - loss: 0.5846 - val_loss: 0.6790
Epoch 20/20
363/363 [==============================] - 0s 1ms/step - loss: 0.5790 - val_loss: 0.6767

In [21]:
mse_test = model.evaluate([X_test_A,X_test_B],y_test)

162/162 [==============================] - 0s 981us/step - loss: 0.5885

In [23]:
X_new_A,X_new_B = X_test_A[:3], X_test_B[:3]  
y_pred = model.predict([X_new_A,X_new_B])
y_pred

1/1 [==============================] - 0s 15ms/step

array([[0.6312093],
       [2.2229507],
       [3.271921 ]], dtype=float32)

In [24]:
y_test[:3]

array([0.477  , 0.458  , 5.00001])